body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#container {
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 162, 162);
}

.screen {
    border-style: solid;
    border-width: 1px;
    margin: 4px 4px 2px 4px;
    width: 418px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: wheat;
}

.pad {
    display: flex;
}

.numericPad {
    margin-top: 106px;
    border-style: solid;
    border-width: 0px;
    display: flex;
    flex-flow: row-reverse wrap;
    width: 320px;
}

.arithmeticPad {
    border-style: solid;
    border-width: 0px;
    display: flex;
    flex-flow: row-reverse wrap;
    width: 108px;
}

.arithmeticKey, .numericKey, .erase, .point, .equals {
    border-style: solid;
    border-width: 1px;
    margin: 2px 2px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    transition: all 0.02s;
    border-color: black;
}

.arithmeticKey, .erase {
    margin: 2px 4px 2px 2px;
}

.arithmeticKey:first-child, .point, .equals {
    margin-bottom: 4px;
}

div .arithmeticKey, div .erase {
    background-color: orange;
}

div .numericKey, div .point {
    background-color: skyblue;
}

div .equals {
    background-color: steelblue;
}

div {
    font-weight: bold;
    font-size: 28px;
}

.animation {
    transform: scale(1.05);
    border-color: red;
}